<div>
    <header class="modal-header">
        <button ng-click="closeModal()" type="button" class="close"><i class="fa fa-close"></i></button>
    </header>
    <main class="modal-body text-center">
        <p>Are you sure you want to restore to default settings?</p>
        <div>
            <button class="btn btn-danger btn-md" ng-click="userInput(false)">No</button>
            <button class="btn btn-success btn-md" ng-click="userInput(true)">Yes</button>
        </div>
    </main>
    <footer class="modal-footer">
    </footer>
</div>